.detbioframe {
  display: grid;
  grid-template-columns: 8vw 36vw;
  width: 44vw;
  height: 35vh;
  border: none;
}

.leftbioframe {
  grid-column: 1;
  width: 8vw;
  height: 35vh;
  position: relative;
}

.ellipsebio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  width: 16vw;
  height: 35vh;
  border-radius: 16vw/38vh;
  background-color: #1FDBE5;
}

.birthdate {
  width: 3vw;
  height: 4vh;
  transform: translateX(-50%);
  background-image: url('/birthdate.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

}

.address {
  width: 3vw;
  height: 4vh;
  transform: translateX(-50%);
  background-image: url('/address.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.email {
  width: 3vw;
  height: 4vh;
  transform: translateX(-50%);
  background-image: url('/email.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.citizenship {
  width: 3vw;
  height: 4vh;
  transform: translateX(-50%);
  background-image: url('/citizenship.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.religion {
  width: 3vw;
  height: 4vh;
  transform: translateX(-50%);
  background-image: url('/religion.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.github-mark {
  width: 3vw;
  height: 4vh;
  transform: translateX(-50%);
  background-image: url('/github-mark.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.rightbioframe {
  grid-column: 2;
  width: 36vw;
  height: 35vh;
  background-color: #0AD1DB;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.insiderightbioframe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 34vw;
  height: 30vh;
  gap: 0vh;
}

.mybirthdate, .myaddress, .myemail, .mycitizenship, .myreligion, .mygithub {
font-size: clamp(0.4rem, 1.5vw, 5rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  height: 100%;
  color: #01011E;
}
