.tooltip {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 2vw 1vh;
  white-space: normal; /* allow wrapping if needed */
  z-index: 10;
  background-color: #04e1f5;
  padding: 1vh 1vw;
  width: 50vw
}

.tooltipbox {
  font-size: clamp(0.5rem, 2.5vw, 5rem);
  text-align: justify;
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
}
