.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  background: #0AD1DB;
  width: 55.5vw;
  height: 58vh;
  text-align: center;
}

.company {
    font-size: clamp(0.7rem, 2.5vw, 5rem); 
    color: #007bff;
}

.position {
    font-size: clamp(0.7rem, 2.5vw, 5rem); 
  color: #333;
}

.duration {
    font-size: clamp(0.5rem, 1.5vw, 5rem); 
    color: #011618;
}

.details {
  list-style-type: none;
  padding: 0;
}

.details li {
  justify-content: left;
  font-size: clamp(0.5rem, 1.5vw, 5rem); 
  color: #01011E;
}
