.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  background: #0AD1DB;
  width: 55.5vw;
  height: 58vh;
  text-align: center;
}

.company {
    font-size: clamp(0.7rem, 2.5vw, 5rem); 
    color: #007bff;
}

.position {
    font-size: clamp(0.7rem, 2.5vw, 5rem); 
  color: #333;
}

.duration {
    font-size: clamp(0.5rem, 1.5vw, 5rem); 
    color: #011618;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50vw;
  height: auto;
  gap: 1vh;
}

.detailItem {
  font-size: clamp(0.5rem, 1.5vw, 5rem);
  color: #01011E;
  vertical-align: middle;
  text-align: left;
  position: relative;
  cursor: pointer;
}

.tooltip {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 60vw; /* limits the width but allows shrinking */
  height: auto;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 2vw 1vh;
  white-space: normal; /* allow wrapping if needed */
  z-index: 10;
  background-color: #04e1f5;
  color: 011113;
  padding: 1vh 1vw;
}

.tooltipbox {
  font-size: clamp(0.5rem, 1.5vw, 5rem);
  text-align: justify;
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
}
